.home-font1 {
  font-family: Spicy Rice;
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  line-height: 80px;
  color: #ffffff;
}

.home-font2 {
  font-family: Source Serif Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 63px;
  color: #ffffff;
}

.home-font3 {
  font-family: Source Serif Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  color: #e0b000;
}

.first-article img:first-child {
  width: 720px;
  height: 650px;
}

.first-article-topic {
  line-height: 97px;
  max-width: 475px;
  margin-top: 128px;
}

.first-article-explain {
  width: 487px;
}

.first-article-content {
  width: 500px;
  height: 57px;
}

.btn-home-trade {
  margin-top: 15px;
  width: 238px;
  height: 58px;
  background: #e0b000;
  border-radius: 12px;
  border: none;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.second-article {
  margin-top: 217px;
  position: relative;
  margin-bottom: 173px;
}

.second-article-topic {
  width: 610px;
  height: 160px;
  margin-bottom: 34px;
}

.second-article-content {
  width: 755px;
}

.second-article > div:last-child {
  position: absolute;
  width: 600px;
  height: 529px;
  right: 34px;
  top: 28px;
}
.second-article img {
  width: auto;
  opacity: 0.55;
  width: inherit;
  transform: rotateY(180deg);
}

.third-article {
  margin-bottom: 104px;
}

.third-article img:first-child {
  width: 487px;
  height: 536px;
  margin: 46px 0 0 70px;
}

.third-article-topic {
  width: 462px;
  margin-top: 131px;
}

.third-article-content {
  width: 519px;
  margin-top: 34px;
}
