.content {
  background-color: #151c2f;
  position: relative;
}

.top-gradient {
  position: absolute;
  width: 100%;
  height: 686px;
  right: 0px;
  top: 0px;
  background: linear-gradient(
    213.03deg,
    #e0b000 -9.15%,
    rgba(224, 176, 0, 0) 37.43%
  );
}

.middle-gradient {
  position: absolute;
  width: 100%;
  height: 686px;
  left: 0px;
  top: 128px;
  background: linear-gradient(
    213.03deg,
    #e0b000 -9.15%,
    rgba(224, 176, 0, 0) 37.43%
  );
  transform: rotate(-180deg);
}

.bottom-gradient {
  position: absolute;
  width: 100%;
  height: 686px;
  right: 0px;
  top: 1330px;

  background: linear-gradient(
    213.03deg,
    #e0b000 -9.15%,
    rgba(224, 176, 0, 0) 37.43%
  );
  transform: matrix(1, 0, 0, -1, 0, 0);
}
