.ant-layout-sider {
  position: absolute;
  left: 0;
  top: 0;
  height: -webkit-fill-available;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #151c2f;
}

.ant-menu-item .ant-menu-item-icon {
  min-width: 20px;
  font-size: 20px;
}

.ant-menu-vertical > .ant-menu-item,
.ant-menu-inline > .ant-menu-item {
  height: 68px;
  margin: 0;
  align-items: center;
  line-height: 68px;
}
